<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.30.5/react-bootstrap.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>


    <script type="module" src="../js/welcomeReact.js"></script>

    <title>Welcome React </title>
<!--    <script type="text/babel">-->
<!--        var ListBox = React.createClass({-->
<!--            render: function() {-->
<!--                return (-->
<!--                    <div className="listBox">-->
<!--                        This is the dynamic list box-->
<!--                    </div>-->
<!--                );-->
<!--            }-->
<!--        });-->
<!--        ReactDOM.render(-->
<!--            <ListBox />,-->
<!--            document.querySelector('.login')-->
<!--        );-->
<!--        console.log("test")-->

<!--    </script>-->
</head>

<body>
<main role="main" class="container">
    <div class="login">

    </div>
</main>
</body>


</html>